* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffe2b0;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
.header_logo {
  text-align: center;
  margin-bottom: 20px;
}
.ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
a:hover {
  color: blue;
}
.nav_ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav_li {
  margin-right: 100px;
}
li:last-child {
  margin-right: 0px;
}
.section {
  margin-bottom: 40px;
  position: relative;
}
.section_one {
  height: 600px;
  width: 100vw;
  background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
}

.section_two {
  content: "";
  position: absolute;
  top: 349px;
  left: 736px;
  height: 190px;
  width: 420px;
  background-color: #ffe2b0;
  z-index: 9;
  opacity: 80%;
}
.section_h1 {
  padding: 17px 0px 9px 30px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
.section_p {
  font-size: 16px;
  padding: 0px 0px 0px 30px;
  line-height: 1.2;
}

.section_border {
  height: 160px;
  width: 390px;
  border: 1px solid #000000;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: left;
  margin: 0 auto;
}
.section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.section_block {
  height: 290px;
  width: 290px;
  margin-right: 76px;
}

.section_fouryh1 {
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.section_fourtext {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}
.section_fouryh2 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}
.colortext {
  color: red;
}

.Coogle_maps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-direction: column;
}
frame {
  width: 80vw;
  height: 60vh;
  filter: invert(100%);
}
